/* 
Spotify green elements
$green-elements: #19D861;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
}

/* Header */
header {
    background-color: #2d3a47;
}

.logo {
    width: 60px;
    padding: 10px;
}

/* Main */
main {
    height: calc(100vh - 40px);
    background-color: #1e2d3c;
}

.albums-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 1000px;
    margin: 0 auto;
}

.album-card {
    width: 160px;
    height: 280px;
    margin: 10px;
    background-color: #2d3a47;
}

.album-poster {
    width: 120px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 15px;
}

.album-text {
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
}

.album-text h3 {
    color: white;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.album-text h4 {
    color: #7f7974;
}